
body {
    background-color: #f5f7fa;
    padding: 3rem;
    font-family: 'Teko', sans-serif;
}
h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
}
.container {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #c4b5b5;
    box-shadow: 2rem 2rem 2rem 0 rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    
}
.container-left {
    width: 25%;
    float: left;
    /* background: radial-gradient(circle,#907348 15%, #20272B  85%); */
    background-image: linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );

    border-radius: .6rem;
    
}
.container-right {
    height: 100%;
    width: 70%;
    overflow-x: hidden;
    padding: 2.5rem 0 0 3rem;
    margin-left: 1.1rem;
    border-radius: .6rem;
    /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
    background-image: linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );


}
hr{
    width: 100%;
    background-color: #c4b5b5;
    height: .2rem; 
}
img{
    border-radius: 60%;
    border: 0.2rem solid #293034;
    margin:  3.6rem 0  0 3.6rem;
    opacity: .8;
    transition: transform 1s ease-out;
}
img:hover{
    border-radius: 60%;
    border: 0.2rem solid #907348;
    margin-left: 3.6rem;
    opacity: 1;
    transform: scale(1.2);
    transition: transform 1s ease-in;

}
.social-media-link{
    display: inline-block;
    padding: 0.3rem;
    background:linear-gradient(60deg, #bd6ba4 ,#08eba6);
    border-radius: 0.1rem;
    margin-left: 3rem;
}
.social-media-link i{
    color: #c4b5b5;
    font-size: 1rem;   
}
.bio{
    margin-left: 2rem;
    font-size: 1.2rem;
}
.name{
    text-align: center;
    font-size: 2.5rem;
}
.contacts-title{
    text-align: center;
    font-size: 2rem;
}
details{
    margin-left: 2rem;
    
}
.education-heading  i{
    font-size: 2.5rem;
}
.skills-section  div{
    margin-left: 1.5rem;
}
.skills-section  i{
    font-size: 2rem;
    margin-left: 1.2rem;
}
.additional-skills-text{
    font-size: 1.5rem;
}
.language-skills-text{
    font-size: 1.5rem;
}
.study-skills-text{
    font-size: 1.5rem;
}